* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #000;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    background-color: #000;
    color: var(--sec-font);
}

/* ################################ RULES */

.rules {
    background-color: #000;
    /* border-bottom: 3px solid #98cf16; */
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 70px;
}

.rules button {
    width: 100px;
    height: 40px;
}

#clearTeams {
    background-color: red;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid white;
}

#saideira {
    background-color: #cf9416;
    color: #fff;
    width: 180px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

#playerForm {
    background-color: #3b214b;
    /* border-bottom: 3px solid #98cf16; */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 90vw;
    /* height: 100px; */
    padding: 20px;
    margin-top: 10px;
    border-radius: 15px;
}

#playerForm label {
    text-transform: uppercase;
}

#playerName {
    height: 30px;
    width: 60%;
    padding: 0 8px;
    border-radius: 10px;
    border: none;
}

#add-player {
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    background-color: #5de24e;
    color: #301e3b;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#removePlayerBtn {
    display: none;
    margin-top: 20px;
    height: 30px;
    width: 50%;
}

/* ##################################### CHECKBOX */

.checkbox-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}


/* From Uiverse.io by guilhermeyohan */ 
.checkbox-apple {
    position: relative;
    width: 50px;
    height: 25px;
    margin: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .checkbox-apple span {
    margin-left: 60px;
  }
  
  .checkbox-apple label {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 25px;
    border-radius: 50px;
    background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .checkbox-apple label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }
  
  .checkbox-apple input[type="checkbox"]:checked + label {
    background: linear-gradient(to bottom, #4cd964, #5de24e);
  }
  
  .checkbox-apple input[type="checkbox"]:checked + label:after {
    transform: translateX(25px);
  }
  
  .checkbox-apple label:hover {
    background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
  }
  
  .checkbox-apple label:hover:after {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }
  
  .yep {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 25px;
  }

  /* ######################################## TEAMS */

  #teamsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:  100%;
    overflow-y: auto;
    margin-bottom: 50px;
}

#teams {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playing-teams {
    width: 90vw;
    display: flex;
}

.team {
    border: 2px solid #b0e03f;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #d6a00c;
    color: var(--first-font);
    width: 60%;
    margin-top: 20px;
}

.player-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    margin: 3px 0;
    border-bottom: 1px solid #ffffff;
    /* border-radius: 5px; */
    cursor: pointer;
    transition: background-color 0.2s ease;
    color: #fff;
  }

  .player-empty {
    background-color: transparent;
}

.player-setter {
    background-color: #a4e8a4; /* Verde claro para levantadores */
    border-radius: 8px;
    border: none;
    color: #252525;
}

.player-female {
    background-color: #965296; /* Lilás para mulheres */
    border-radius: 8px;
    border: none;
}

.player-selected {
    outline: 2px solid rgb(229, 255, 0);
}

.player-empty-selected {
    outline: 2px solid orange;
}