* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #001247;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    background-color: #001247;
    color: var(--sec-font);
}

/* ################################ RULES */

.rules {
    /* background-color: #001247; */
    /* border: 1px solid #ECC200; */
    /* border-bottom: 3px solid #98cf16; */
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    /* background-color: yellow; */
    height: 60px;
    /* width: 100vw;
    height: 70px; */
    /* flex-wrap: wrap; */
    /* padding: 15px; */
    /* position: absolute; */
    /* top: 0; */
    /* background-color: yellow; */
}

.rules button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    /* border-right: 1px solid #fff; */
    /* border-left: 1px solid #fff; */
    width: 25%;]height: 100%;
}

.rules button span img {
    width: 25px;
}

#clearTeams {
    background-color: transparent;
    color: #fff;
    /* text-transform: uppercase; */
    /* border-radius: 4px; */
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#undo-btn {
    /* font-size: 25px; */
    background-color: transparent;
    /* text-transform: uppercase; */
    width: 25%;
    display: flex;
}

#saideira {
    background-color: transparent;
    /* color: #000; */
    /* width: 180px; */
    /* border: none; */
    /* border-radius: 4px; */
    /* font-weight: bold; */
    /* text-transform: uppercase; */
}

#playerForm {
    background-color: #3b214b;
    /* border-top: 3px solid #98cf16; */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    /* height: 100px; */
    padding: 10px;
    margin-bottom: 25px;
    /* margin-top: 10px; */
    /* border-radius: 15px; */
    position: relative;
    border-bottom: 1px solid white;
}

#playerForm label {
    text-transform: uppercase;
}

#playerName {
    height: 30px;
    width: 80%;
    padding: 0 8px;
    border-radius: 10px;
    border: none;
    border-bottom: 3px solid #33CC66;
}

#add-player {
    /* border-radius: 50%; */
    border: none;
    /* width: 20px; */
    /* height: 20px; */
    background-color: transparent;
    color: #301e3b;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5px; */
    /* position: absolute; */
    /* bottom: -17px; */
    /* left: 43%; */
    /* left: 168px; */
}

#add-player img {
    width: 48px;
}

#removePlayerBtn {
    display: none;
}

#removePlayerBtnShow {
    display: block;
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 20px;
    color: #db6b6b;
    /* border: 2px solid #5de24e; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ##################################### CHECKBOX */

.checkbox-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    /* padding: 5px; */
}


/* From Uiverse.io by guilhermeyohan */ 
.checkbox-apple {
    position: relative;
    width: 50px;
    height: 15px;
    margin: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .checkbox-apple span {
    margin-left: 55px;
    font-size: 15px;
    display: flex;
    align-items: center;
  }
  
  .checkbox-apple label {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 18px;
    border-radius: 50px;
    background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .checkbox-apple label:after {
    content: '';
    position: absolute;
    /* top: 1px; */
    left: 1px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }
  
  .checkbox-apple input[type="checkbox"]:checked + label {
    background: linear-gradient(to bottom, #4cd964, #5de24e);
  }
  
  .checkbox-apple input[type="checkbox"]:checked + label:after {
    transform: translateX(25px);
  }
  
  .checkbox-apple label:hover {
    background: linear-gradient(to bottom, #b3b3b3, #e6e6e6);
  }
  
  .checkbox-apple label:hover:after {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }
  
  .yep {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 14px;
  }

  /* ######################################## TEAMS */

  #teamsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:  100%;
    overflow-y: auto;
    margin-bottom: 50px;
}

#teams {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playing-teams {
    width: 90vw;
    display: flex;
}

.team {
    border: 2px solid #b0e03f;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #d6a00c;
    color: var(--first-font);
    width: 60%;
    margin-top: 20px;
    text-align: center;
}

.player-space {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    margin: 3px 0;
    border: 1px solid #ffffff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    color: #000;
    background-color: rgba(255, 255, 255, 0.4);
    justify-content: space-between;
  }

  .player-empty {
    background-color: transparent;
}

.player-setter {
    background-color: #298129; /* Verde claro para levantadores */
    border-radius: 8px;
    border: none;
    color: #ffffff;
}

.player-female {
    background-color: #965296; /* Lilás para mulheres */
    border-radius: 8px;
    border: none;
    color: #fff;
}

.player-selected {
    outline: 2px solid rgb(229, 255, 0);
    background-color: #3b214b;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
}

/* .spaceTotal {
    background-color: red;
} */

.player-empty-selected {
    outline: 2px solid orange;
}

.win-button {
    background-color: rgb(230, 106, 106);
    width: 100%;
    height: 30px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 4px;
    font-weight: bold;
    color: #fff;
    margin-top: 20px;
}

/* ############################################### MULHERES INPUT */

  .checkbox-wrapper-10 .tgl {
    display: none;
  }
  .checkbox-wrapper-10 .tgl,
  .checkbox-wrapper-10 .tgl:after,
  .checkbox-wrapper-10 .tgl:before,
  .checkbox-wrapper-10 .tgl *,
  .checkbox-wrapper-10 .tgl *:after,
  .checkbox-wrapper-10 .tgl *:before,
  .checkbox-wrapper-10 .tgl + .tgl-btn {
    box-sizing: border-box;
  }
  .checkbox-wrapper-10 .tgl::-moz-selection,
  .checkbox-wrapper-10 .tgl:after::-moz-selection,
  .checkbox-wrapper-10 .tgl:before::-moz-selection,
  .checkbox-wrapper-10 .tgl *::-moz-selection,
  .checkbox-wrapper-10 .tgl *:after::-moz-selection,
  .checkbox-wrapper-10 .tgl *:before::-moz-selection,
  .checkbox-wrapper-10 .tgl + .tgl-btn::-moz-selection,
  .checkbox-wrapper-10 .tgl::selection,
  .checkbox-wrapper-10 .tgl:after::selection,
  .checkbox-wrapper-10 .tgl:before::selection,
  .checkbox-wrapper-10 .tgl *::selection,
  .checkbox-wrapper-10 .tgl *:after::selection,
  .checkbox-wrapper-10 .tgl *:before::selection,
  .checkbox-wrapper-10 .tgl + .tgl-btn::selection {
    background: none;
  }
  .checkbox-wrapper-10 .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 3em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .checkbox-wrapper-10 .tgl + .tgl-btn:after,
  .checkbox-wrapper-10 .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 20px;
    padding: 5px;
  }
  .checkbox-wrapper-10 .tgl + .tgl-btn:after {
    left: 0;
  }
  .checkbox-wrapper-10 .tgl + .tgl-btn:before {
    display: none;
  }
  .checkbox-wrapper-10 .tgl:checked + .tgl-btn:after {
    left: 50%;
  }

  .checkbox-wrapper-10 .tgl-flip + .tgl-btn {
    padding: 2px;
    transition: all 0.2s ease;
    font-family: sans-serif;
    perspective: 100px;
  }
  .checkbox-wrapper-10 .tgl-flip + .tgl-btn:after,
  .checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 1s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    /* line-height: 2em; */
    /* font-weight: bold; */
    font-size: 18px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 4px;
  }
  .checkbox-wrapper-10 .tgl-flip + .tgl-btn:after {
    content: attr(data-tg-on);
    background: #c6025d;
    transform: rotateY(-180deg);
  }
  .checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
    background: #4f94a581;
    content: attr(data-tg-off);
  }
  .checkbox-wrapper-10 .tgl-flip + .tgl-btn:active:before {
    transform: rotateY(-20deg);
  }
  .checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:before {
    transform: rotateY(180deg);
  }
  .checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:after {
    transform: rotateY(0);
    left: 0;
    background: #bd0068b2;
    border: 1px solid white;
  }
  .checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:active:after {
    transform: rotateY(20deg);
  }

  .span-woman {
    font-size: 13px;
    position: absolute;
    top: 36px;
    right: 105px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }


  .optionTeam {
    width: 200px;
    height: 200px;
    position: absolute;
  }