* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --first-bg: #000;
    --sec-bg: #000;
    --third-bg: #000;
    --first-font: #fff;
    --sec-font: #fff;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #000;
    padding-top: 70px;
}

header {
    background-color: #001247;
    border-bottom: 3px solid #98cf16;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 70px;
    position: fixed;
    top: 0;
}

header img {
    width: 80px;
}

header div input {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 4px 0 0 4px;
    padding: 5px;
    text-align: end;
}

header div input::placeholder {
    color: #38007985;
    font-weight: bold;
    text-transform: uppercase;
}

header div button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 0 4px 4px 0;
    text-transform: uppercase;
    background-color: #3bb12b;
    color: var(--first-font);
    font-weight: bold;
}

/* ######################################## SECTION */

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 100%;
    color: var(--sec-font);
    background-image: url(../images/background-cerrado.jpg);
    background-size: auto;
    background-position: top 0 center;
    background-repeat: repeat-y;
}

.blink {
    animation: blink 1s steps(1, end) infinite;
    color: #022588;
    background-color: white;
    padding: 8px;
    border-radius: 4px;
    border: 2px solid rgb(216, 180, 20);
    font-size: 15px;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* ######################################## TEAMS */

  #teamsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.ballon-hq {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team {
    border: 2px solid #b0e03f;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #d6a00c;
    color: var(--first-font);
    width: 60%;
    margin-top: 20px;
}

.player-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    margin: 3px 0;
    border-bottom: 1px solid #ffffff;
    /* border-radius: 5px; */
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .player-empty {
    background-color: transparent;
}

.player-setter {
    background-color: #a4e8a4; /* Verde claro para levantadores */
    border-radius: 8px;
    border: none;
    color: #252525;
}

.player-female {
    background-color: #965296; /* Lilás para mulheres */
    border-radius: 8px;
    border: none;
}

.player-selected {
    outline: 2px solid rgb(229, 255, 0);
}

.player-empty-selected {
    outline: 2px solid orange;
}

  /* ######################################## ADM PAGE */